<%= form_for @user, url: profiles_path, method: :put, :html => { :class => "form-horizontal post" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, :class => 'form-control' %>
    <%=f.error_span(:subdomain) %>
    <small>Only letters a-z, digits 0-9 or combination with length 3-20 letters are allowed as username.</small>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.rich_text_area :about, placeholder: 'Type here ..' %>
    <%=f.error_span(:about) %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              posts_path, :class => 'btn btn-default' %>
  </div>

<% end %>
