<div class="my-5">
  <div class="card">
    <div class="card-header" id="comment-form" data-post-id="<%= @post.id %>">
      <%= form_with(model: [@post, Comment.new], class: "form-horizontal") do |f| %>
        <div class="form-group">
          <%= f.text_area :content, :class => 'form-control comment-text', placeholder: 'Comment here' %>
          <%= f.error_span(:content) %>
        </div>
        <div class="form-group">
          <%= f.submit "Comment", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <ul class="list-group list-group-flush comment-list" id="comment-list">
      <% @comments.each do |comment| %>
        <li class="list-group-item" id="comment-<%= comment.id %>">
          <%= comment.content %>
          <%= link_to post_comment_path(@post, comment), class: 'text-danger', method: :delete, remote: true  do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>