<% if user_signed_in? %>
  <div class="pull-right">
    <%= link_to t('.new', :default => t("helpers.links.new")), new_post_path, :class => 'btn btn-primary' %>
  </div>
<% end %>

<div class="list-group">
  <% @posts.each do |post| %>
  <a href="<%= post_path(post) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= post.title %></h5>
    </div>
    <small><%= time_ago_in_words(post.created_at) %></small>
  </a>
  <% end %>
</div>

<%= paginate @posts %>

