<ol class="breadcrumb bg-white my-2 px-0">
  <li class="breadcrumb-item" ><%= link_to 'Articles', posts_path(kind: 'default') %></li>
  <li class="breadcrumb-item" ><%= link_to 'Bookmarks', posts_path(kind: 'bookmark') %></li>
  <li class="breadcrumb-item" ><%= link_to 'Secrets', posts_path(kind: 'secure') %></li>
</ol>

<% if user_signed_in? %>
  <div class="my-2">
    <small>Posts: <%= @posts.size %></small>
  </div>
<% end %>

<div class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <a href="<%= post_path(post) %>">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post.title.empty? ? "Untilted" : post.title %></h5>
        </div>
      </a>
      <small><%= time_ago_in_words(post.created_at) %> ago</small>
      <span class="badge badge-primary badge-pill"><%= post.kind %></span>
    </div>
  <% end %>
</div>

<%= paginate @posts %>

