<div class="pull-right">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default'  %>
  <% if user_signed_in? %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_post_path(@post), :class => 'btn btn-default' %>
    <% if @post.published? %>
      <%= link_to t('.unpublish', :default => t("helpers.links.unpublish")),
          unpublish_post_path(@post), :class => 'btn btn-default' %>
    <% else %>
      <%= link_to t('.publish', :default => t("helpers.links.publish")),
          publish_post_path(@post), :class => 'btn btn-default' %>
    <% end %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                post_path(@post),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>

<div class="page-header">
  <%= @post.title %>
</div>

<div>
  <%= render_markdown @post.content %>
</div>
